12: 70°F <img alt="" src="http://openweathermap.org/img/wn/10d@2x.png" width="35">
<hr>
12: 70°F <img alt="" src="http://openweathermap.org/img/wn/10d@2x.png" width="35">
<hr>
12: 70°F <img alt="" src="http://openweathermap.org/img/wn/10d@2x.png" width="35">
<hr>
12: 70°F <img alt="" src="http://openweathermap.org/img/wn/10d@2x.png" width="35">
<hr>
